@code-gray: #272822;
@mobile: 767px;
@desktop: 1025px;

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 1.2em;
  margin: 0;
  padding: 0;
  color: white;
  overflow: hidden;
}

.full-size {
  width: 100vw;
  height: 100vh;
}

.no-overflow {
  overflow: hidden;
}

// An `:after` to dim background images.
.fade-bg {
  &:after {
    content: '';
    background: darken(rgba(0,255,255,.90), 45%);
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    .full-size;
  }
}

.absolute {
  position: absolute;
}

.top {
  top: 0;
}

.left {
  left: 0;
}

.mono {
  font-family: 'Droid Mono', monospace;
}

.flex {
  display: flex;

  &.centered {
    align-items: center;
    justify-content: center;
  }

  &.col {
    flex-direction: column;
  }

  &.around {
    justify-content: space-around;
  }

  &.between {
    justify-content: space-between;
  }
}

.pointer {
  cursor: pointer;
}

#typer-demo {
  background: url(typer-demo.gif) repeat-y top left;
  background-size: cover;
  z-index: 1;
  .full-size;
  .absolute;
  .top;
  .left;

  @media (max-width: @mobile) {
    padding: 0;
    font-size: .7rem;
  }

  &:before {
    content: '';
    background: rgba(0,0,0,.8);
    z-index: -1;
    .full-size;
    .absolute;
    .top;
    .left;
  }
}

// BEGIN
.matrix {
  color: lime;
  font-size: 1.5em;

  span {
    top: 0;
    left: 0;
    transform: rotate(0deg);
    display: inline-block;
    position: relative;
  }
}

.typer-panes,
.progress {
  transition: opacity .5s;
  opacity: 0;

  &.show {
    opacity: 1;
  }
}

.typer-panes {
  flex-grow: 1;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.pane {
  margin: 10px 10px 0;
  padding: 5px;
  max-width: 100%;
  background: fadeout(@code-gray, 10%);
}

.explanation {
  flex-grow: 1;
  flex-basis: 0;

  [data-typer-child] {
    text-align: center;
  }
}

.example {
  flex-grow: 2;
  flex-basis: 0;
}

.progress {
  padding: 10px 0;

  @media (max-width: @mobile) {
    flex-direction: row-reverse;
    justify-content: flex-end;

    .controls {
      padding: 0 20px;
    }

    .progress-bar {
      width: initial;
    }
  }
}

.progress-bar {
  width: 100%;
}

.progress-item {
  padding: 0 10px 4px;
  border-radius: 6px;
  user-select: none;
  color: gray;
  transition: background .2s, color .2s;
  .pointer;

  &.active {
    background: lime;
    color: black;
    font-weight: bold;
  }

  @media (max-width: @mobile) {
    &:not(.active) {
      display: none;
    }
  }
}

.controls {
  padding-top: 10px;
}

.control {
  margin: 0 1vmin;
  width: 2.5em;
  height: 2.5em;
  border: 1px solid;
  border-radius: 50%;
  user-select: none;
  transition: background .2s;
  .pointer;

  @media (min-width: @desktop) {
    &:hover {
      background: rgba(255,255,255,.2);
    }
  }
}

.stop-play {
  &.stop {
    .play {
      display: none;
    }
  }

  &.play {
    padding-left: 4px;

    .stop {
      display: none;
    }
  }
}

.previous {
  padding-right: .6em;
}

.next {
  padding-left: .6em;
}

.fin {
  opacity: 0;
  transition: opacity 2s;
  font-size: 12vmin;
  font-weight: bold;
  .mono;

  &.show {
    opacity: 1;
  }
}
// END

.aqua {
  color: aqua;
}

.lime {
  color: lime;
}

.gray {
  color: #75715e;
}

.yellow {
  color: yellow;
}

.purple {
  color: fuchsia;
}

.pink {
  color: #f92772;
}

.orange {
  color: #fd9720;
}
