* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  font-size: 1.2em;
  margin: 0;
  padding: 0;
  color: white;
  overflow: hidden;
}
.hidden {
  display: none;
}
.typer.ready::after {
  transition: top 1.5s ease-in, left 2s ease-out, -webkit-transform 2s;
  transition: top 1.5s ease-in, left 2s ease-out, transform 2s;
  transition: top 1.5s ease-in, left 2s ease-out, transform 2s, -webkit-transform 2s;
  top: 0vh;
  left: 0vw;
}
.typer.ready.drop::after {
  top: 55vh;
  left: 30vh;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.background-container {
  position: absolute;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  background: #001400;
}
.background-container .bg-img-div {
  position: relative;
  transition: -webkit-transform 220s linear;
  transition: transform 220s linear;
  transition: transform 220s linear, -webkit-transform 220s linear;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}
.background-container .bg-img-div.scroll {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.background-container .bg-img-div .bg-img {
  width: 100vw;
  height: auto;
  display: block;
}
.background-container .bg-img-div::after {
  content: '';
  position: absolute;
  width: 100vw;
  height: 100%;
  left: 0;
  top: 0;
  transition: background 5s;
  background: #001400;
}
.progress-container,
.main-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* HORIZONTAL */
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  /* VERTICAL */
  padding: 10px;
  box-sizing: border-box;
  transition: opacity 5s;
}
.progress-container.column,
.main-container.column {
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.progress-container {
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.progress-container .progress {
  font-family: monospace;
  position: relative;
  padding: 10px 2px 10px 10px;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, transparent, lime) 1 1%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(113, 173, 255, 0.16));
  border-left: 0px solid transparent;
  font-size: 0.8em;
  transition: border-width 1s, right 1.5s;
  right: 200px;
  cursor: not-allowed;
}
.progress-container .progress.right {
  right: 0;
}
.progress-container .progress::before {
  content: 'PROGRESS';
  position: absolute;
  top: -25px;
  width: 100%;
  font-family: sans-serif;
  font-size: 0.7em;
  text-decoration: underline;
  letter-spacing: 2px;
  cursor: auto;
}
.progress-container .progress .method {
  position: relative;
  padding: 10px;
  color: #777;
  transition: color 1s, background 1s;
}
.progress-container .progress .method.active {
  background: #182f2d;
  font-style: italic;
}
.progress-container .progress .method.active .method-name {
  -webkit-animation: methods 2.5s infinite;
          animation: methods 2.5s infinite;
}
.progress-container .progress .method.complete {
  text-decoration: line-through;
}
.progress-container .progress .method .timer {
  position: absolute;
  color: yellow;
  right: -45px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  transition: color 1s;
  -webkit-animation: none;
          animation: none;
}
.progress-container .progress .method .timer.complete {
  color: #777;
}
@-webkit-keyframes methods {
  0% {
    color: #777;
  }
  50% {
    color: lime;
  }
  100% {
    color: #777;
  }
}
@keyframes methods {
  0% {
    color: #777;
  }
  50% {
    color: lime;
  }
  100% {
    color: #777;
  }
}
.main-container {
  color: #eee;
  font-weight: lighter;
}
.main-container .narration,
.main-container .code {
  width: 0vw;
  margin: 10px;
  padding: 10px;
  background: rgba(39, 40, 34, 0.9);
  transition: opacity 0.75s, width 1s;
  opacity: 0;
  border-radius: 3px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1100px) {
  .main-container .narration.open,
  .main-container .code.open {
    width: 860px;
  }
}
@media screen and (max-width: 1099px) {
  .main-container .narration.open,
  .main-container .code.open {
    width: 95vw;
    max-width: 860px;
  }
}
.main-container .narration {
  min-height: 2.5ex;
}
.main-container .code {
  min-height: 25vh;
  font-family: monospace;
}
.main-container .code .code-container .highlight {
  border: 1px solid transparent;
  transition: border-color 1s;
}
.main-container .code .code-container .highlight.show-border {
  border-color: lime;
}
.matrix {
  position: relative;
  text-align: center;
  font-family: monospace;
  color: #00ff00;
  font-size: 1.5em;
}
.single-letter {
  position: relative;
  top: 0vh;
  left: 0vw;
  right: 0vw;
}
.fin {
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 6s ease-in;
  font-family: monospace;
  font-size: 7vw;
  height: 100vh;
  width: 100vw;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.fin.show {
  opacity: 1;
}
.italic {
  font-style: italic;
}
.underline {
  text-decoration: underline;
}
.mono {
  font-family: monospace;
}
.gray {
  color: #75715e;
}
.aqua {
  color: aqua;
}
.yellow {
  color: yellow;
}
.purple {
  color: fuchsia;
}
.pink {
  color: #f92772;
}
.lime {
  color: lime;
}
.orange {
  color: #fd9720;
}
