<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      font-family: monospace;
      font-size: 1.2rem;
    }

    .buttons {
      margin-bottom: 20px;
    }
  </style>
</head>
<body>
  <h1>Typer Test</h1>
  <div class="buttons">
    <button class="go">GO!</button>
    <button class="halt">HALT</button>
    <button class="resume">RESUME</button>
  </div>
  <section></section>
</body>
</html>
