.typer::after {
  content: '';
  display: inline-block;
  vertical-align: sub;
  width: 0.1em;
  height: 1.2em;
  background-color: currentColor;
  margin-left: 0.1em;
}

.cursor-block::after {
  width: 0.5em;
}

.cursor-soft::after {
  animation: softblink 0.7s infinite;
}

.cursor-hard::after {
  animation: hardblink 0.7s infinite;
}

.no-cursor::after {
  content: none;
}

.white-space {
  white-space: pre-wrap;
}

@keyframes softblink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hardblink {
  50%,
  100% {
    visibility: hidden;
  }
}
