.qs-typer {
  position: relative;
  min-height: 2ex;
}

.qs-typer::after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 0.1em;
  height: 1.1em;
  background-color: currentColor;
  margin-left: 0.1em;
}

.qs-cursor-block::after {
  width: 0.9ex;
}

.qs-cursor-soft::after {
  animation: qs-softblink 0.7s infinite;
}

.qs-cursor-hard::after {
  animation: qs-hardblink 0.7s infinite;
}

.qs-no-cursor::after {
  content: none;
}

.qs-white-space {
  white-space: pre-wrap;
}

@keyframes qs-softblink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes qs-hardblink {
  0% { opacity: 1; }
  49% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 0; }
}
